@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Yellowtail&display=swap');

* {
  font-family: 'Mulish', sans-serif;
  font-weight: 300;
}

.logo {
  font-family: 'Yellowtail', cursive;
}